html,
body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", "Arial", sans-serif;
  color: white;
  background-color: #FFFFFF;
}

header.page-header {
	width:1000px;
	height: 90px;
	margin: 0 auto;
	padding: 20px;
	background-color: #000210;
}

.logo {
	position: absolute;
	margin: 0;
	padding: 0;
	width:280px;
	height: 90px;
}

.main-menu ul {
  padding: 0;
  list-style-type: none;
  margin-right: 20px;
  margin-left:  290px;
}

.main-menu li {
  display: inline-block;
   margin: 15px;
}

.main-menu a {
  color: white;
  text-decoration:none;
  font-size: 22px;
}

main {
	width:1000px;	
	margin: 0 auto;
	background-color: #FFFFFF;
	overflow: hidden;
}
.about-me{
	background-color: #000210;
	width:400px;
	height: 295px;
	padding: 20px;
	margin: 20px;
	float: left;
	font-size: 45px;
	
}
.about-me a{
	color: white;
	list-style-type: none;
	display: inline-block;
	text-decoration:none;

}
a:hover {
	color: #ffd400;
}

a:active {
	color:#ff8c00;
}

p { margin: 0 auto;
	font-size: 20px;}

footer.page-footer {
	width:1000px;
	
	margin: 0 auto;
	padding: 20px;
	background-color: #000210;
}

.ma5slider{
	width:500px;
	height: 120px;
	position: relative;
	float: right;
	margin-top: 20px;
}

